.home-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
}

.todo-list-container {
    width: 400px;
}

.todo-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.todo-list-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-element {
    width: 80%;
    margin-left: 3%;
}

.todo-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visibility-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
